.side {
  width: 210px;
  height: 100%;
  overflow: auto;
  position: fixed;
  background: #202225;
  a {
    color: #9e9e9e;
    display: block;
    margin: 0 10px 0 15px;
    padding: 8px 0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #eaeaea;
    }
    &:global(.active) {
      color: #eaeaea;
    }
  }
}

.logo {
  padding: 18px 0 20px 0;
  margin-bottom: 6px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
