name: Pull Request Build
on:
  pull_request:

jobs:
  build-deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: npm install
      - run: npm run build
      - run: npm ls @babel/core
      - run: npm run doc